<% @posts.each do |post| %>
  <%= render partial: "post", locals: {post: post} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $(document.body).on('click', '.js-more', function() {
      let id = $(this).data("id");
      $(this).replaceWith('<button class="js-less" data-id="'+id+'">Less...</button>');
      $.get("/posts/" + id + "/body", function(data) {
        // Replace text of body-id div
        $("#body-" + id).text(data);
      });
    });

      $(document.body).on('click', '.js-less', function() {
        let id = $(this).data("id");
        console.log(id);
        $(this).replaceWith('<button class="js-more" data-id="'+id+'">More...</button>');
        $.get("/posts/" + id + "/body", function(data) {
          // rsp = < %= escape_javascript(truncate(data)) % >;
          // Replace text of body-id div
          $("#body-" + id).text(data.substring(0, 27)+"...");
        });
      });
  });
</script>
